@use "variables" as vars;
* {
  box-sizing: border-box;
  margin: 0;
}

.icon {
  width: vars.$icon-size;
  height: vars.$icon-size;
  margin: vars.$icon-margin;

  img {
    max-width: 100%;
    max-height: 100%;
  }
  i {
    font-size: vars.$icon-size;
    color: black;
  }
}

.content {
  width: vars.$content-width;
  max-width: vars.$content-max-width;
  margin: auto;
}
