$content-max-width: 90vw;
$content-width: 830px;

$icon-size: 18px;
$icon-margin: 6px;

$color-1: #32b007;
$color-2: #009e52;
$color-3: #008a73;
$color-4: #007580;
$color-5: #006075;
$color-6: #2e4756;
